body, .box, .skills, .projects, .version, .Contact, .footer {
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(40, 40, 89);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul a {
  text-decoration: none; 
  color: white;
  
}
.in {
  background-image: url(me.JPG);
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.logo {
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  font-family: Brush Script;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 30px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  color: yellow;
}

.main {
  text-align: center;
  padding: 20px;
}

.main h2, .main h3 {
  text-align: left;
  color: white;
}

.main p {
  font-size: 18px;
  color: rgb(80, 80, 80);
}

.intro {
  width: 100%;
}

.intro h1, .intro h2, .intro p {
  text-align: left;
}

.intro h1:hover {
  text-shadow: 21px 7px 13px #8c8c8c;
}

/* About */



.box p, .skills h4, .Contact h3 {
  color: white;
}

/* Projects */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
  position:relative;
  margin-top: 50px;
  
}

.card, .card-1 {
  width: 250px;
  background-color: rgb(94, 172, 255);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
  position: relative;
  transform: none;
  overflow: hidden;
  min-height: 100px;
}

.card:hover, .card-1:hover {
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
  box-shadow: 0 20px 40px -10px rgb(255, 255, 255);
}

.name, .description {
  font-weight: bold;
  text-align: center;
  color: #333;
}

/* Version, Table, Download */

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

th, td {
  text-align: left;
  padding: 8px;
  color: lightgrey;
}
 .download {
  text-align: center;
}
.download button {
  background-color: #565656;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  border-radius: 40px;
  cursor: pointer;
  margin-bottom: 20px;
}

.download button:hover {
  background-color: white;
  color: #565656;
}

/* Footer styles */

.footer {
  background-color: #302340;
  padding: 20px;
  text-align: center;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
}

.footer h2 {
  color: white;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

form {
  width: 90%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
  height: 475px;
}
form h1 {
  color: #000000;
}
h6 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: rgb(40, 40, 89);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight:bold;
}

input[type="submit"]:hover {
  background-color: rgb(187, 255, 0);
  color:  rgb(40, 40, 89);
}
/* Animation */

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.main h2, .box p {
  animation: slideIn 1.0s ease-in-out;
}

.main h3, table, .box, .download {
  animation: slide 1.0s ease-in-out;
}

@media (max-width: 600px) {
  nav ul li a {
    display: none;
  }

  .box {
    margin: 20px;
  }

  .main h1 {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .cards-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .box {
    margin: 20px;
  }
}
