
body {
  min-height: 100vh;
  background: #0f0c29; 
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-position: center;
}

h2 {
  font-weight: 500;
  margin-left: 60px;
}
h3 {
  margin-left: 60px;
  display: flex;
}

h1 {
  font-weight: 700;
  margin-left: 60px;
}
h4 {
  font-weight: 400;
  margin-left: 60px;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 20px 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Aligns items vertically in the center, adjust as needed */
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-top: 40px;
}


.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}


@media (max-width: 600px) {
  .header {
    display: none;
  }
}
  .in {
    margin-top: 15vh;
  }

  .in {
    height: 76vh;
    margin-top: 20vh;
    
  }
  
  .in h1 {
    font-weight: 700;
  
  }
  
  .in h4 {
  margin-top: 20px;
  font-weight: 400;
  }

  
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-family: "Roboto", sans-serif;
}

.card {
  position: relative;
  width: 31rem;
  height: 31rem;
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .card-content {
  position: absolute;
  bottom: -35%;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: bottom 0.3s ease-in-out;
}

.card:hover .card-content {
  bottom: 0;
}

.card h2 {
  margin: 0;
  color: #fff;
}

.card p, .card a {
  margin: 0;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.card:hover p, .card:hover a {
  opacity: 1;
}

.card p {
  margin-top: 10px;
}

.card a {
  margin-top: 10px;
  color: inherit;
  text-decoration: none;
}



.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 20px;
}



section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

/* Style the primary container */
.cont1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.252) /* Adjust the max-width as needed */
}

/* Style the left container within cont1 */
.cont2 {
  flex: 1;
  margin: 20px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.252);
  border-radius: 30px;
}

/* Style the profile information */
.profile {
  display: flex;
  align-items: center;
  flex-direction: column; /* Align children in a column */
  text-align: center;
}

/* Style the profile image */
.image img {
  width: 150px;
  height: 150px; 
  margin-top: 15px;
  object-fit: cover; 
  border-radius: 50%;
}

/* Style the info section */
.info {
  margin-top: 15px;
}

/* Style the social links */
.social {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Increase the size of social icons */
.social a {
  margin: 0 5px;
  color: #fff;
  font-size: 24px; /* Adjust the size as needed */
}

/* Apply additional styles to enhance appearance */
.profile h1 {
  margin: 5px 0;
}

.profile h2 {
  margin: 5px 0;
}
/* Style the about section */
.about {
  display: flex;
  align-items: center;
  flex-direction: column; /* Align children in a column */
  text-align: center;
  width: 100%;
}

/* Style the heading */
.about h2 {
  display: flex;
  text-align: center;
  margin-right: 60px;
}

/* Style the paragraph */
p {
  margin-bottom: 20px;
  max-width: 75%;
}

/* Style the buttons */
.buttons {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-bottom: 15px;
}

/* Style the buttons */
.btn {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, orange, yellow);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.btn .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, orange, yellow);
}

.btn:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.btn:hover {
  background-image: linear-gradient(-45deg, orange, yellow);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  color: white;
}

.btn:hover .text {
  background-image: linear-gradient(-45deg, orange, yellow);
}
/* Media query for responsiveness */
@media (max-width: 600px) {
  .cont1 {
    flex-direction: column;
    max-width: 100%;
  }
}









.sk {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-inline: 60px;
}


.skills-container {
  text-align: center;
  margin-inline: 50px;
}

.skills-container h5 {
  display: flex;
  text-align: center;
  font-weight: 400;
}

.skill {
  margin-bottom: 40px;
  text-align: left;
}

.skill-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.progress-bar {
  width: 200px;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar-inner {
  height: 100%;
  background-color: #22409a;
  border-radius: 10px;
  transition: width 1s ease-in-out;
}


#contact {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  gap: 90px;
  padding: 20px;
  position: relative;
  max-width: 900px;
}

/* Left contact page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  min-width: 350px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  letter-spacing: 1px;
}
/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 450px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 40px;
}

.phone {
  margin-left: 40px;
}

.gmail {
  margin-left: 40px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 600px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
    font-size: smaller;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.main h2, .box p {
  animation: slideIn 1.0s ease-in-out;
}

.main h3, table, .box, .download {
  animation: slide 1.0s ease-in-out;
}

@media (max-width: 600px) {
  nav ul li a {
    display: none;
  }

  .box {
    margin: 20px;
  }

  .main h1 {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .cards-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .box {
    margin: 20px;
  }
}
