body, .box, .skills, .projects, .version, .Contact, .download, .footer {
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(40, 40, 89);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.in {
  background-image: url(me.JPG);
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.logo {
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  font-family: Brush Script;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 30px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  color: yellow;
}

.main {
  text-align: center;
  padding: 20px;
}

.main h2, .main h3 {
  text-align: left;
  color: white;
}

.main p {
  font-size: 18px;
  color: rgb(80, 80, 80);
}

.intro {
  width: 100%;
}

.intro h1, .intro h2, .intro p {
  text-align: left;
}

.intro h1:hover {
  text-shadow: 21px 7px 13px #8c8c8c;
}

/* About */

.box:hover {
  background-color: rgb(82, 82, 82);
}

.box p, .skills h4, .Contact h3 {
  color: white;
}

/* Projects */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  position: relative;
  margin-top: 50px;
}

.card, .card-1 {
  width: 300px;
  background-color: rgb(184, 184, 184);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  border: 4px solid #ffffff;
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
  overflow: hidden;
  transform: translate(-8px, -16px) rotate(3deg);
}

.card:hover, .card-1:hover {
  transform: none;
  box-shadow: 0 20px 40px -10px rgb(204, 255, 2);
}

.name, .description {
  font-weight: bold;
  text-align: center;
  color: #333;
}

/* Version, Table, Download */

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

th, td {
  text-align: left;
  padding: 8px;
  color: lightgrey;
}

.download button {
  background-color: #565656;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  border-radius: 40px;
  cursor: pointer;
  margin-bottom: 20px;
}

.download button:hover {
  background-color: white;
  color: #565656;
}

/* Footer styles */

.footer {
  background-color: #302340;
  padding: 20px;
  text-align: center;
}

.footer h2 {
  color: white;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* Animation */

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.main h2, .box p {
  animation: slideIn 1.0s ease-in-out;
}

.main h3, table, .box, .download {
  animation: slide 1.0s ease-in-out;
}

@media (max-width: 600px) {
  nav ul li a {
    display: none;
  }

  .box {
    margin: 20px;
  }

  .main h1 {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .cards-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .box {
    margin: 20px;
  }
}
